<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<h2>TO DO LIST</h2>
	<div id="inputDiv">
		<input type="text" id="inputText">
		<button id='btn-save'>저장</button>
	</div>
	<div id="listDiv">
		<ul id='myUl'>
		
		</ul>	
	</div>


	<script src="/js/app/main.js"></script>
</body>
</html>